.w-19 {
	width: 0.253333rem;
}

.w-24 {
	width: 0.32rem;
}

.w-32 {
	width: 0.426667rem;
}

.w-48 {
	width: 0.64rem;
}

.w-50 {
	width: 0.666667rem;
}

.w-90 {
	width: 1.2rem;
}

.w-129 {
	width: 1.72rem;
}

.w-208 {
	width: 2.773333rem;
}

.w-220 {
	width: 2.933333rem;
}

.w-230 {
	width: 3.066667rem;
}

.w-246 {
	width: 3.28rem;
}

.w-250 {
	width: 3.333333rem;
}

.w-258 {
	width: 3.44rem;
}

.w-260 {
	width: 3.466667rem;
}

.w-288 {
	width: 3.84rem;
}

.w-600 {
	width: 8.0rem;
}

.w-660 {
	width: 8.8rem;
}

.w-p-5 {
	width: 5%;
}

.w-p-32 {
	width: 32%;
}

.w-p-80 {
	width: 80%;
}

.w-p-90 {
	width: 90%;
}

.w-p-100 {
	width: 100%;
}

.h-5 {
	height: 0.066667rem;
}

.h-24 {
	height: 0.32rem;
}

.h-36 {
	height: 0.48rem;
}

.h-41 {
	height: 0.546667rem;
}

.h-48 {
	height: 0.64rem;
}

.h-45 {
	height: 0.6rem;
}

.h-74 {
	height: 0.986667rem;
}

.h-60 {
	height: 0.8rem;
}

.h-75 {
	height: 1.0rem;
}

.h-80 {
	height: 1.066667rem;
}

.h-90 {
	height: 1.2rem;
}

.h-100 {
	height: 1.333333rem;
}

.h-180 {
	height: 2.4rem;
}

.h-200 {
	height: 2.666667rem;
}

.h-208 {
	height: 2.773333rem;
}

.h-220 {
	height: 2.933333rem;
}

.h-246 {
	height: 3.28rem;
}

.h-258 {
	height: 3.44rem;
}

.h-288 {
	height: 3.84rem;
}

.h-375 {
	height: 5.0rem;
}

.h-min-930 {
	min-height: 12.4rem;
}

.h-p-100 {
	height: 100%;
}

.m-a-0 {
	margin: 0px;
}

.m-b-0 {
	margin-bottom: 0px;
}

.m-t-3 {
	margin-top: 0.04rem;
}

.m-l-5 {
	margin-left: 0.066667rem;
}

.m-l-7 {
	margin-left: 0.093333rem;
}

.m-t-7 {
	margin-top: 0.093333rem;
}

.m-t-9 {
	margin-top: 0.12rem;
}

.m-t-10 {
	margin-top: 0.133333rem;
}

.m-r-10 {
	margin-right: 0.133333rem;
}

.m-l-10 {
	margin-left: 0.133333rem;
}

.m-t-12 {
	margin-top: 0.16rem;
}

.m-t-15 {
	margin-top: 0.2rem;
}

.m-t-16 {
	margin-top: 0.213333rem;
}

.m-t-20 {
	margin-top: 0.266667rem;
}

.m-l-20 {
	margin-left: 0.266667rem;
}

.m-l-24 {
	margin-left: 0.32rem;
}

.m-t-25 {
	margin-top: 0.333333rem;
}

.m-t-30 {
	margin-top: 0.4rem;
}

.m-t-32 {
	margin-top: 0.426667rem;
}

.m-t-35 {
	margin-top: 0.466667rem;
}

.m-l-35 {
	margin-left: 0.466667rem;
}

.m-t-38 {
	margin-top: 0.506667rem;
}

.m-t-40 {
	margin-top: 0.533333rem;
}

.m-l-40 {
	margin-left: 0.533333rem;
}

.m-t-42 {
	margin-top: 0.56rem;
}

.m-t-45 {
	margin-top: 0.6rem;
}

.m-rl-45 {
	margin-right: 0.6rem;
	margin-left: 0.6rem;
}

.m-t-50 {
	margin-top: 0.666667rem;
}

.m-t-60 {
	margin-top: 0.8rem;
}

.m-l-62 {
	margin-left: 0.826667rem;
}

.m-t-77 {
	margin-top: 1.026667rem;
}

.m-t-80 {
	margin-top: 1.066667rem;
}

.m-t-84 {
	margin-top: 1.12rem;
}

.m-l-90 {
	margin-left: 1.2rem;
}

.m-t-100 {
	margin-top: 1.333333rem;
}

.m-t-110 {
	margin-top: 1.466667rem;
}

.m-t-120 {
	margin-top: 1.6rem;
}

.m-t-148 {
	margin-top: 1.973333rem;
}

.m-t-150 {
	margin-top: 2.0rem;
}

.m-t-180 {
	margin-top: 2.4rem;
}

.m-t-260 {
	margin-top: 3.466667rem;
}

.m-lr-auto {
	margin-left: auto;
	margin-right: auto;
}

.p-a-0 {
	padding: 0px !important;
}

.p-r-5 {
	padding-right: 0.066667rem;
}

.p-l-5 {
	padding-left: 0.066667rem;
}

.p-tb-10 {
	padding-top: 0.133333rem;
	padding-bottom: 0.133333rem;
}

.p-t-15 {
	padding-top: 0.2rem;
}

.p-tb-15 {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

.p-rl-15 {
	padding-right: 0.2rem;
	padding-left: 0.2rem;
}

.p-a-15 {
	padding: 0.2rem;
}

.p-a-20 {
	padding: 0.266667rem;
}

.p-tb-20 {
	padding-top: 0.266667rem;
	padding-bottom: 0.266667rem;
}

.p-rl-20 {
	padding-right: 0.266667rem;
	padding-left: 0.266667rem;
}

.p-tb-25 {
	padding-top: 0.333333rem;
	padding-bottom: 0.333333rem;
}

.p-rl-25 {
	padding-right: 0.333333rem;
	padding-left: 0.333333rem;
}

.p-tb-28 {
	padding-top: 0.373333rem;
	padding-bottom: 0.373333rem;
}

.p-rl-30 {
	padding-right: 0.4rem;
	padding-left: 0.4rem;
}

.p-r-30 {
	padding-right: 0.4rem;
}

.p-l-30 {
	padding-left: 0.4rem;
}

.p-a-30 {
	padding: 0.4rem;
}

.p-tb-36 {
	padding-top: 0.48rem;
	padding-bottom: 0.48rem;
}

.p-a-36 {
	padding: 0.48rem;
}

.p-l-38 {
	padding-left: 0.506667rem;
}

.p-r-38 {
	padding-right: 0.506667rem;
}

.p-tb-38 {
	padding-top: 0.506667rem;
	padding-bottom: 0.506667rem;
}

.p-t-40 {
	padding-top: 0.533333rem;
}

.p-b-40 {
	padding-bottom: 0.533333rem;
}

.p-l-40 {
	padding-left: 0.533333rem;
}

.p-tb-40 {
	padding-top: 0.533333rem;
	padding-bottom: 0.533333rem;
}

.p-rl-40 {
	padding-right: 0.533333rem;
	padding-left: 0.533333rem;
}

.p-l-41 {
	padding-left: 0.546667rem;
}

.p-lr-41 {
	padding-left: 0.546667rem;
	padding-right: 0.546667rem;
}

.p-b-44 {
	padding-bottom: 0.586667rem;
}

.p-rl-45 {
	padding-right: 0.6rem;
	padding-left: 0.6rem;
}

.p-t-50 {
	padding-top: 0.666667rem;
}

.p-b-50 {
	padding-bottom: 0.666667rem;
}

.p-rl-50 {
	padding-right: 0.666667rem;
	padding-left: 0.666667rem;
}

.p-t-60 {
	padding-top: 0.8rem;
}

.p-tb-60 {
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}

.p-lr-60 {
	padding-left: 0.8rem;
	padding-right: 0.8rem;
}

.p-l-62 {
	padding-left: 0.826667rem;
}

.p-l-70 {
	padding-left: 0.933333rem;
}

.p-r-73 {
	padding-right: 0.973333rem;
}

.p-b-73 {
	padding-bottom: 0.973333rem;
}

.p-t-75 {
	padding-top: 1.0rem;
}

.p-l-75 {
	padding-left: 1.0rem;
}

.p-rl-75 {
	padding-right: 1.0rem;
	padding-left: 1.0rem;
}

.p-b-80 {
	padding-bottom: 1.066667rem;
}

.p-rl-80 {
	padding-right: 1.066667rem;
	padding-left: 1.066667rem;
}

.p-rl-100 {
	padding-right: 1.333333rem;
	padding-left: 1.333333rem;
}

.p-r-238 {
	padding-right: 3.173333rem;
}

.f-s-0 {
	font-size: 0px;
	line-height: 0px;
}

[data-dpr="1"] .f-s-9 {
	font-size: 9px;
	line-height: 9px;
}

[data-dpr="2"] .f-s-9 {
	font-size: 18px;
	line-height: 18px;
}

[data-dpr="3"] .f-s-9 {
	font-size: 27px;
	line-height: 27px;
}

[data-dpr="1"] .f-s-10 {
	font-size: 10px;
	line-height: 10px;
}

[data-dpr="2"] .f-s-10 {
	font-size: 20px;
	line-height: 20px;
}

[data-dpr="3"] .f-s-10 {
	font-size: 30px;
	line-height: 30px;
}

[data-dpr="1"] .f-s-11 {
	font-size: 11px;
	line-height: 11px;
}

[data-dpr="2"] .f-s-11 {
	font-size: 22px;
	line-height: 22px;
}

[data-dpr="3"] .f-s-11 {
	font-size: 33px;
	line-height: 33px;
}

[data-dpr="1"] .f-s-12 {
	font-size: 12px;
	line-height: 12px;
}

[data-dpr="2"] .f-s-12 {
	font-size: 24px;
	line-height: 24px;
}

[data-dpr="3"] .f-s-12 {
	font-size: 36px;
	line-height: 36px;
}

[data-dpr="1"] .f-s-14 {
	font-size: 14px;
	line-height: 14px;
}

[data-dpr="2"] .f-s-14 {
	font-size: 28px;
	line-height: 28px;
}

[data-dpr="3"] .f-s-14 {
	font-size: 42px;
	line-height: 42px;
}

[data-dpr="1"] .f-s-16 {
	font-size: 16px;
	line-height: 16px;
}

[data-dpr="2"] .f-s-16 {
	font-size: 32px;
	line-height: 32px;
}

[data-dpr="3"] .f-s-16 {
	font-size: 48px;
	line-height: 48px;
}

[data-dpr="1"] .f-s-19 {
	font-size: 19px;
	line-height: 19px;
}

[data-dpr="2"] .f-s-19 {
	font-size: 38px;
	line-height: 38px;
}

[data-dpr="3"] .f-s-19 {
	font-size: 57px;
	line-height: 57px;
}

[data-dpr="1"] .f-s-22 {
	font-size: 22px;
	line-height: 22px;
}

[data-dpr="2"] .f-s-22 {
	font-size: 44px;
	line-height: 44px;
}

[data-dpr="3"] .f-s-22 {
	font-size: 66px;
	line-height: 66px;
}

[data-dpr="1"] .f-s-23 {
	font-size: 23px;
	line-height: 23px;
}

[data-dpr="2"] .f-s-23 {
	font-size: 46px;
	line-height: 46px;
}

[data-dpr="3"] .f-s-23 {
	font-size: 69px;
	line-height: 69px;
}

[data-dpr="1"] .f-s-24 {
	font-size: 24px;
	line-height: 24px;
}

[data-dpr="2"] .f-s-24 {
	font-size: 48px;
	line-height: 48px;
}

[data-dpr="3"] .f-s-24 {
	font-size: 72px;
	line-height: 72px;
}

[data-dpr="1"] .l-h-17 {
	line-height: 17px;
}

[data-dpr="2"] .l-h-17 {
	line-height: 34px;
}

[data-dpr="3"] .l-h-17 {
	line-height: 51px;
}

[data-dpr="1"] .l-h-20 {
	line-height: 20px;
}

[data-dpr="2"] .l-h-20 {
	line-height: 40px;
}

[data-dpr="3"] .l-h-20 {
	line-height: 60px;
}

[data-dpr="1"] .l-h-24 {
	line-height: 24px;
}

[data-dpr="2"] .l-h-24 {
	line-height: 48px;
}

[data-dpr="3"] .l-h-24 {
	line-height: 72px;
}

.l-h-d-30 {
	line-height: 0.4rem !important;
}

.l-h-d-36 {
	line-height: 0.48rem !important;
}

.l-h-d-40 {
	line-height: 0.533333rem !important;
}

.l-h-d-41 {
	line-height: 0.546667rem !important;
}

.l-h-d-45 {
	line-height: 0.6rem !important;
}

.l-h-d-50 {
	line-height: 0.666667rem !important;
}

.l-h-d-60 {
	line-height: 0.8rem !important;
}

.l-h-d-74 {
	line-height: 0.986667rem !important;
}

.l-h-d-75 {
	line-height: 1.0rem !important;
}

.l-h-d-80 {
	line-height: 1.066667rem !important;
}

.l-h-d-90 {
	line-height: 1.2rem !important;
}

.l-h-d-100 {
	line-height: 1.333333rem !important;
}

.l-h-d-246 {
	line-height: 3.28rem !important;
}

.b-r-none {
	border-style: none;
}

.b-r-tl-5 {
	border-top-left-radius: 5px;
}

.b-r-tr-5 {
	border-top-right-radius: 5px;
}

.b-r-bl-5 {
	border-bottom-left-radius: 5px;
}

.b-r-br-5 {
	border-bottom-right-radius: 5px;
}

.b-r-5 {
	border-radius: 5px;
}

.b-r-12 {
	border-radius: 12px;
}

.b-r-p-50 {
	border-radius: 50%;
}

.t-a-c {
	text-align: center;
}

.v-a-m {
	vertical-align: middle;
}

.f-w-n {
	font-weight: normal;
}