/** 背景颜色 */
.bg-eceef0 {
	background: #eceef0;
}

.bg-eeeeee {
	background: #eeeeee;
}

.bg-ffffff {
	background: #ffffff;
}

.bg-fcfcfc {
	background: #fcfcfc;
}

.bg-33aae2 {
	background: #33aae2;
}

.bg-1a1a24 {
	background: #1a1a24;
}

.bg-b3b3b3 {
	background: #b3b3b3;
}

.bg-2cad6e {
	background: #2cad6e;
}

.bg-000000 {
	background: #000000;
}

.bg-transparent {
	background-color: transparent;
}

.ft-ffffff {
	color: #ffffff;
}

.ft-cccccc {
	color: #cccccc;
}

.ft-333333 {
	color: #333333;
}

.ft-999999 {
	color: #999999;
}

.ft-33aae2 {
	color: #33aae2;
}

.ft-4d4d4d {
	color: #4d4d4d;
}

.ft-2cad6e {
	color: #2cad6e;
}

.ft-e32929 {
	color: #e32929;
}

.ft-e9c239 {
	color: #e9c239;
}

.ft-e93939 {
	color: #e93939;
}

.ft-aaaaaa {
	color: #aaaaaa;
}

.ft-5377d2 {
	color: #5377d2;
}

.ft-ff8a00 {
	color: #ff8a00;
}